/* RESETS */

* {
  padding: 0;
  margin: none;
  box-sizing: border-box;
}

/* VARIÁVEIS */ 

:root {
  --bg-page: #EFF1FF;
  --bg-header: #8E9AAF;
  --bg-h1: #CBC0D3;
  --bg-icecream-type: #FEEAFA;

  --fc-main: #23053A;
  --fc-icecream-type: #4A4E69;
  --fc-header: #FFFFFF;

  --ff-heading: 'Staatliches', cursive;
  --ff-p-mobile: 'Palanquin', sans-serif;
  --ff-p-desktop: 'Roboto', sans-serif;

  font-size: 62.5%;
}

/* GERAL */ 

body {
  margin: 0 auto;
}

/* HEADER */

header {
  height: 27.9rem;
  width: 100%;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-mobile {
  width: 13.7rem;
  height: 13.7rem;
  margin-top: 3.2rem;
  display: inline-block;
}

.logo-desktop {
  display: none;
}

header h1 {
  margin-top: 3.2rem;
  font-family: var(--ff-heading);
  color: var(--fc-header);
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: .8rem 0;
  background-color: var(--bg-h1);
  width: 100%;
  text-align: center;
}

/* MAIN */

main {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.description-mobile {
  display: inline-block;
  width: 30.5rem;
  margin-top: 1.8rem;

  font-family: var(--ff-p-mobile);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--fc-main);

}

.images {
  margin: 6.3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.image {
  position: relative;
}

.image img {
  animation: downtop 700ms ease-in;
}

.image span {
  background-color: var(--bg-icecream-type);
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-icecream-type);
  padding: .1rem 2.4rem;
  border-radius: 2rem;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  animation: topdown 700ms ease-in;
}

/* O que tem no desktop que não deve ter no mobile */ 

.description-desktop {
  display: none;
}

.image span {
  display: inline-block;
}

footer {
  display: none;
}

#img-5,
#img-6 {
  display: none;
}

/* ANIMATIONS */

/* Tipos de sorvete indo de cima para baixo */ 
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Imagens vão de baixo para cima*/
@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DESKTOP */

@media screen and (min-width: 930px) {

  /* geral */ 
  .page {
    display: flex;
    justify-content: space-between;;
    
    min-width: 90vw;
    min-height: 100vh;

  }

  /* left */

  header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    padding: 3.2rem 0 5rem;

    min-height: 100vh;
  }

  .logo-desktop {
    max-width: 21.5rem;
    max-height: auto;
    display: inline-block;
  }

  .logo-mobile {
    display: none;
  }

  header h1 {
    font-size: 4.8rem;
    padding: 2rem 0;
  }

  .description-mobile {
    display: none;
  }

  .description-desktop {
    display: inline-block;
    max-width: 100%;
    font-family: var(--ff-p-desktop);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--fc-header);
    text-align: center;
    margin: 3.2rem 5rem 0;
  }

  /* right */

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  main {
    padding: 0;
    justify-content: center;
  }

  .images {
    display: grid;
    gap: 3.2rem;
    margin: 0;
    padding: 5rem 5rem 0;

    grid-template-areas: 
    "a b c"
    "d b f"
    "d e f";
  }

  #img-1 {
    grid-area: a;
  }

  #img-2 {
    grid-area: b;
  }

  #img-3 {
    grid-area: e;
  }

  #img-4 {
    grid-area: d;
  }

  #img-5 {
    grid-area: c;
  }

  #img-6 {
    grid-area: f;
  }

  .image img {

    max-width: 100%;
    max-height: 100%;
  }

  .image span {
    display: none;
  }

  /* right -- footer */ 

  footer {
    display: block;
  }

  footer p {
    color: var(--fc-icecream-type);
  }

  footer p span {
    font-weight: 700;
  }

}